

header {
    text-align: center;
    font-size: 50px;
    background-color: rgb(255, 255, 184);
}

.nav-link { 
   text-align: center; !important;
   color: rgb(181, 197, 211) !important;
   }

.nav-link:hover {
      color: blueviolet; !important;
      transition: 0.5s; !important;

   }

.big__header {
    color: rgb(181, 197, 211);
    font-family: Courier New, monospace ;
}
 
.bg-light {background-color: rgb(255, 255, 184)!important;}


.back {
   background-color: black;
}

section {
   padding: 10px;
}

.sub__header {
 text-align: center;
 font-size: 40px;
 font-weight: bold;
 font-family: 'Courier New', Courier, monospace;
 color: rgb(206, 240, 253);
}

.ruka_link {
   text-decoration: none;
   color: rgb(181, 197, 211)
}

.ruka_link:hover {
    color: white; 
    transition: 1s;
 }

.noga_link {
    text-decoration: none;
    color: rgb(181, 197, 211)
  }

  .noga_link:hover {
    color: white; 
    transition: 1s;
 }
 
 .haed_link {
    text-decoration: none;
    color:rgb(181, 197, 211) 
 }
 
 .haed_link:hover {
    color: white; 
    transition: 1s;
 }

 .image__wrapper {
   background-size: cover;
   border-radius: 50%;
   width: 300px;
   height: 300px;
 }

 .image__wrapper__rukavica {
   background-image: url("../img/hand.jpg");
   background-position: 37% 50%;
   
 }

 .image__wrapper__nizhky  {
   background-image: url("../img/foot.jpg");
   background-position: 60% 50%;


 }

 .glova {
   
   flex-direction: column;
   width: 300px;
   border-radius: 50%;
}

.rukavica {
   
   flex-direction: column;
   width: 300px;
   border-radius: 50%;
}

.nizhky {
   
   flex-direction: column;
   width: 300px;
   border-radius: 50%;
}

h3 {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
   font-size: 16px;
   padding: 20px;
   color: rgb(255, 255, 184);
   
}

.ruka_link {
   color: brown;
  padding-top: 20px;
  padding: 17px;
  border: 1px solid;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
  background-color: rgb(201, 219, 95);
  text-transform: uppercase;
  transition-duration: 1s;
   
}

.ruka_link:hover {
   color: rgb(51, 17, 51);
   transition: 0.5s;
   padding-top: 20px;
   background-color: aqua;
   
}

.ruka_link:hover::before {
   transform: translate(-5px, -5px);
   background: rgb(250, 188, 152);
}

footer {
   padding: 60px;
   flex-direction: column;
}

.instag {
   margin: 0 0 5px 5px;
   font-weight: bolder;
   background-color: aqua; background-color: rgb(29, 42, 223); background-color: rgb(240, 168, 218);
   text-decoration: none;
   border: 2px solid;
   padding: 8px;
   padding-left: 5px;
   transition: 0.5s;
}

.instag:hover {
   background-color: azure;
   transition-duration: 0.5s;
   }

.fbs {
   margin: 0 0 15px 15px;
   font-weight: bolder;
   background-color: aqua; background-color: rgb(29, 42, 223); background-color: rgb(240, 168, 218);
   text-decoration: none;
   border: 2px solid;
   padding: 8px;
   padding-left: 5px;
}

.fbs:hover {
   background-color: azure;
   transition-duration: 0.5s;
   }

.twit {
   margin: 13px 0 35px 35px;
   font-weight: bolder;
   background-color: aqua; background-color: rgb(29, 42, 223); background-color: rgb(240, 168, 218);
   text-decoration: none;
   border: 2px solid;
   padding: 8px;
   padding-left: 5px;
}

.twit:hover {
   background-color: azure;
   transition-duration: 0.5s;
   }

   .d-block {
      padding: 20px !important;
   }